main{margin-top: 80px;
}
#mynavbar{
justify-content:right;
}
.camara{width: 80px;
height: 60px;}
/* CARDS */
.image-card-logo{width: 30px;
height: 30px;
margin-left: 15px;
margin-top: 15px;}
.card .navbar{border-radius: 3%;
}
.card{
border-radius: 3%;
width:300px;
height:450px;
text-align: left;
margin: 10px 20px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card:hover{box-shadow:rgba(170, 170, 168, 0.797) 0px 8px 24px;
}
.rounded-pill{width: 40px;
height: 40px;}
.card-img-top{
margin-left: 0px;
padding: 0px;
width:270px;
height: 270px;
}
.navbar-toggler{border:0ch;}
.heart{width: 30px;
height: 30px;}
/* query */
@media only screen and (max-width : 320px) {
.card-img-top{display:none}
}
@media only screen and (max-width : 768px) {
}
@media only screen and (max-width : 244px) {
}